# Use root/example as user/password credentials
version: '3.1'

services:

  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345
    ports:
      - 3361:3306
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080